# Terraform
terraform.tfstate
terraform.tfstate.backup
terraform.lock.hcl
.terraform/

# Node.js
node_modules/
npm-debug.log
.env
.env.local
.env.*.local

# Testing
coverage/

# Docker
docker/dynamodb/

# Build
*.zip
.qodo
